$color-white: #FFF;
$color-light: #EBEBEB;
$color-blue-primary: #3683FF;
$color-blue-secondary: #63D3C6;
$color-red-primary: #FF8DE5;
$color-red-secondary: #FF3E3E;
$color-green-primary: #71EBAE;
$color-green-secondary: #01D3C3;
$color-yellow-primary: #FFED88;
$color-yellow-secondary: #EA912A;
$bg-dark: #1F1F1F;
$bg-dark-secondary: #343434;

$font-primary: 'Open Sans', sans-serif;

$screen-xs: 480px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Mixins
@mixin gradient-text($angle, $color-primary, $color-secondary) {
  color: $color-primary;
  background: -webkit-linear-gradient($angle, $color-primary, $color-secondary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}

@mixin icon-hover() {
  filter: invert(47%) sepia(82%) saturate(230%) hue-rotate(87deg) brightness(94%) contrast(76%);
  transition: all .4s linear;
}

// Animation
@keyframes hue { 
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

// Styles
body {
  background: $bg-dark;
  overflow: hidden;
  

  @media (orientation: portrait) {
    background: linear-gradient($bg-dark, $bg-dark-secondary);
  }
}

h1 {
  @include gradient-text($angle: 30deg, $color-primary: $color-blue-primary, $color-secondary: $color-blue-secondary);
  color: $color-light;
  font-family: $font-primary;
  font-size: 3.2rem;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  margin: 0;

  @media screen and (min-width: $screen-md) {
    font-size: 4.5rem;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: 4.5rem;
  }

  @media screen and (min-width: $screen-xl) {
    font-size: 5.3rem;
  }
}

h2 {
  display: flex;
  flex-direction: column;
  color: $color-light;
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.75;
  letter-spacing: 1px;
  position: relative;

  @media screen and (min-width: $screen-sm) {
    display: block;
    font-size: 1.1rem;
  }

  @media screen and (min-width: $screen-md) {
    font-size: 1.4rem;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: 1.6rem;
  }

  span {
    animation: hue 10s linear infinite;

    &.slash {
      display: none;

      @media screen and (min-width: $screen-sm) {
        display: inline-block;
      }
    }

    &.red {
      @include gradient-text($angle: 30deg, $color-primary: $color-red-primary, $color-secondary: $color-red-secondary);
    }
    &.green {
      @include gradient-text($angle: 30deg, $color-primary: $color-green-primary, $color-secondary: $color-green-secondary);
    }
    &.yellow {
      @include gradient-text($angle: 30deg, $color-primary: $color-yellow-primary, $color-secondary: $color-yellow-secondary);
    }
  }
}

p {
  color: $color-light;
  font-family: $font-primary;
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  margin: 0;

  @media screen and (min-width: $screen-md) {
    font-size: 2rem;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: 2.5rem;
  }
}

a {
  color: $color-light;
  &.icon {
    font-size: 2rem;
    margin: 0.5rem 0.75rem;
  
    &:hover {
      @include icon-hover();
    }

    @media screen and (min-width: $screen-sm) {
      font-size: 1.75rem;
    }
  
    @media screen and (min-width: $screen-md) {
      font-size: 2rem;
      margin: 0.5rem;
    }
  }
}


.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('../images/dots.png');
  background-size: cover;

  @media screen and (min-width: $screen-md) {
    background-image: none;
  }
}

.container {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.circle {
  // display: none;
  display: inline-block;
  border-radius: 50%;
  background-image: linear-gradient($bg-dark-secondary, $bg-dark);
  position: absolute;
  max-height: 100vh;
  max-width: 100vh;
  top: -4rem;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media (orientation: portrait) {
    display: none;
  }
}

.dots {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../images/dots-red2.png'), url('../images/dots-blue2.png'), url('../images/dots-yellow2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: 80% 80%;
  z-index: 3;

  @media screen and (min-width: $screen-md) {
    display: block;
  }
}

.social-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.social-icons__img {
  height: 2rem;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  margin-bottom: 0.25rem;

  &:hover,
  &:focus {
    @include icon-hover();
  }

  @media screen and (min-width: $screen-sm) {
    height: 1.75rem;
  }

  @media screen and (min-width: $screen-md) {
    height: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}