$color-white: #FFF;
$color-light: #EBEBEB;
$color-blue-primary: #3683FF;
$color-blue-secondary: #63D3C6;
$color-red-primary: #FF8DE5;
$color-red-secondary: #FF3E3E;
$color-green-primary: #71EBAE;
$color-green-secondary: #01D3C3;
$color-yellow-primary: #FFED88;
$color-yellow-secondary: #EA912A;
$bg-dark: #1F1F1F;
$bg-dark-secondary: #343434;

$font-primary: 'Open Sans', sans-serif;

$screen-xs: 480px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Mixins
@mixin gradient-text($angle, $color-primary, $color-secondary) {
  color: $color-primary;
  background: -webkit-linear-gradient($angle, $color-primary, $color-secondary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}

@mixin icon-hover() {
  filter: invert(47%) sepia(82%) saturate(230%) hue-rotate(87deg) brightness(94%) contrast(76%);
  transition: all .4s linear;
}

// Animation
@keyframes hue { 
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

// Styles
body {
  background: $bg-dark;
}

h1 {
  @include gradient-text($angle: 30deg, $color-primary: $color-blue-primary, $color-secondary: $color-blue-secondary);
  color: $color-light;
  font-family: $font-primary;
  font-size: 5.5rem;
  font-weight: 800;
  text-align: center;
  margin: 0;
}

h2 {
  color: $color-light;
  font-family: $font-primary;
  font-size: 1.75rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  position: relative;

  span {
    animation: hue 10s linear infinite;
    &.red {
      @include gradient-text($angle: 30deg, $color-primary: $color-red-primary, $color-secondary: $color-red-secondary);
    }
    &.green {
      @include gradient-text($angle: 30deg, $color-primary: $color-green-primary, $color-secondary: $color-green-secondary);
    }
    &.yellow {
      @include gradient-text($angle: 30deg, $color-primary: $color-yellow-primary, $color-secondary: $color-yellow-secondary);
    }
  }
}

p {
  color: $color-light;
  font-family: $font-primary;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
}

a {
  color: $color-light;
  &.icon {
    font-size: 2rem;
    margin: 0 0.5rem;
  
    &:hover {
      @include icon-hover();
    }
  }
}


.wrapper {
  width: 100%;
  height: 90vh;
  background-image: url('../images/dots.png');
  background-size: cover;
}

.container {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.circle {
  border-radius: 50%;
  background-image: linear-gradient($bg-dark-secondary, $bg-dark);
  position: absolute;
  height: 860px;
  width: 860px;
  top: -4rem;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.social-icons-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.social-icons__img {
  height: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: -0.5rem;

  &:hover {
    @include icon-hover();
  }
}